@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.favorites_wrapper {
  width: 100%;
  padding: 15vh 0;
  color: $dark-red;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  @include respond-to('medium') {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  & > div.error_wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > div.storm {
      width: 100%;
      position: relative;
      top: -15vh;
    }

    & > div.error_msg {
      font-size: 25px;
      display: flex;
      justify-content: center;
      color: $dark-red;
      border: thin solid $dark-red;
      padding: 50px 25px;
      border-radius: 25px;
      margin: 10% 20% 25px 20%;
      @include respond-to('large') {
        margin: 10% 30% 25px 30%;
      }
    }

    & > button {
      color: $dark-teal;
      border: thin solid $dark-teal;
      margin: 35px;
      padding: 5px 15px;
      z-index: 1000;
    }
  }

  & > div.no_favorites_container {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > .favorite_icon {
      width: 100%;
      margin: 15px;
      font-size: 25px;
      color: $dark-yellow;
    }
  }

  & > div.fav_city_container {
    width: 100%;
    border: thin solid $dark-yellow;
    border-radius: 15px;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: 15px;
    max-width: 400px;
    min-width: 300px;
    color: $dark-teal;

    @include respond-to('medium') {
      width: 50%;
    }
    @include respond-to('large') {
      max-width: 650px;
      min-width: 500px;
    }

    & > div.city_details {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 10px;
      cursor: pointer;
      @include respond-to('medium') {
        font-size: 25px;
      }

      & > div.city_name {
        width: 100%;
        display: flex;
        @include respond-to('large') {
          font-size: 35px;
        }
      }
      & > div.description {
        width: 50%;
        display: flex;
      }
      & > div.temp {
        width: 20%;

        & > span.tamp_symbol {
          font-size: 15px;
        }
      }
      & > img {
        margin: 0 10px;
        position: relative;
        bottom: 15px;
        @include respond-to('medium') {
          width: 70px;
        }
        @include respond-to('large') {
          bottom: 25px;
          width: 100px;
        }
      }
    }
    & > .remove_icon {
      margin: 5px;
      color: $dark-red;
      border-bottom: thin solid $dark-red;
      cursor: pointer;
      @include respond-to('medium') {
        margin: 20px;
        font-size: 35px;
      }
    }
  }
  & > div.fav_city_container:hover {
    color: $dark-green;
  }
}
div.favorites_light_mode {

  & > div.no_favorites_container .favorite_icon {
    color: $light-red;
  }
  & > div.fav_city_container {
    border: thin solid $light-white;
    color: $light-white;
  }
  & > div.fav_city_container:hover {
    color: $light-yellow;
  }
  & > div.error_wrapper button {
    color: $light-white;
    border: thin solid $light-white;
  }
}
