@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.favorites_wrapper {
  width: 100%;
  padding: 15vh 0;
  color: $dark-red;
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  @include respond-to('small') {
    font-size: 20px;
  }
  @include respond-to('medium') {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  & > div.error_wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > div.storm {
      width: 100%;
      position: relative;
      top: -15vh;
    }

    & > div.error_msg {
      font-size: 15px;
      display: flex;
      justify-content: center;
      color: $dark-red;
      border: thin solid $dark-red;
      padding: 50px 25px;
      border-radius: 25px;
      margin: 10% 20% 25px 20%;
      @include respond-to('small') {
        font-size: 25px;
      }
      @include respond-to('large') {
        margin: 10% 30% 25px 30%;
      }
    }

    & > button {
      color: $dark-teal;
      border: thin solid $dark-teal;
      margin: 35px;
      padding: 5px 15px;
      z-index: 1000;
    }
  }

  & > div.no_favorites_container {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > span {
      font-size: 15px;
      display: flex;
      justify-content: center;
      color: $dark-yellow;
      border: thin solid $dark-red;
      padding: 50px;
      border-radius: 25px;
      margin: 10% 10% 25px 10%;
      @include respond-to('small') {
        font-size: 25px;
        margin: 10% 20% 25px 20%;
      }
    }
    & > div {
      display: flex;
      justify-content: center;

      & > .favorite_icon {
        width: 100%;
        margin: 15px;
        font-size: 35px;
        color: $dark-red;
        @include respond-to('small') {
          font-size: 45px;
        }
      }
    }
  }

  & > div.fav_city_container {
    position: relative;
    width: 100%;
    border: thin solid $dark-yellow;
    border-radius: 15px;
    max-height: 100px;
    display: flex;
    padding: 10px;
    align-items: center;
    margin: 15px;
    max-width: 300px;
    min-width: 200px;
    color: $dark-teal;
    @include respond-to('small') {
      max-width: 400px;
      min-width: 300px;
    }
    @include respond-to('medium') {
      width: 50%;
    }
    @include respond-to('large') {
      max-width: 650px;
      min-width: 500px;
    }

    & > div.city_details {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 15px;
      cursor: pointer;
      @include respond-to('medium') {
        font-size: 25px;
      }

      & > div.city_name {
        width: 100%;
        display: flex;
        @include respond-to('large') {
          font-size: 35px;
        }
      }
      & > div.description {
        display: flex;
        width: 50%;
      }
      & > div.temp {
        display: flex;
        align-items: center;
        margin-right: 10px;
        @include respond-to('small') {
          margin-right: 25px;
        }
        @include respond-to('medium') {
          margin-right: 35px;
        }
        @include respond-to('large') {
          font-size: 30px;
        }

        & > span.tamp_symbol {
          font-size: 11px;
          @include respond-to('small') {
            font-size: 15px;
          }
          @include respond-to('medium') {
            font-size: 20px;
          }
          @include respond-to('large') {
            font-size: 25px;
          }
        }
      }
    }
    & > div.fav_weather_img {
      display: flex;
      align-items: center;

      & > img {
        padding: 0 10px;
        font-size: 30px;
        margin: 0 35px;
        @include respond-to('small') {
          font-size: 50px;
        }
        @include respond-to('medium') {
          width: 100px;
        }
        @include respond-to('large') {
          width: 120px;
        }
      }
    }
    & > div.remove_icon_wrapper {
      position: absolute;
      right: 0;
      margin: 0 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 100%;

      & > .remove_icon {
        color: $dark-red;
        font-size: 20px;
        border-bottom: thin solid $dark-red;
        @include respond-to('small') {
          font-size: 25px;
        }
        @include respond-to('medium') {
          margin: 20px;
          font-size: 35px;
        }
      }
    }
  }
  & > div.fav_city_container:hover {
    color: $dark-green;
  }
}
div.favorites_light_mode {

  & > div.no_favorites_container {
    & > span {
      color: $light-white;
      border: thin solid $light-red;
    }
    & > div .favorite_icon {
      color: $light-red;
    }
  }
  & > div.fav_city_container {
    border: thin solid $light-white;
    color: $light-white;
  }
  & > div.fav_city_container:hover {
    color: $light-yellow;
  }
  & > div.error_wrapper button {
    color: $light-white;
    border: thin solid $light-white;
  }
}
