@import "../../styles/colorsConfig";

div.forecast_wrapper {
  display: flex;
  width: 100%;
  background-color: $dark-background;
  padding-top: 2vh;

  & > div.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}

div.forecast_light_mode {
  background-color: $light-teal;
}
